/*Section Header*/
h2{
	font-size:18px;
	font-weight:bold;
	text-align: left;
}

/*Dev Notes*/
h5{
	background-color:#222;
	border-radius:8px;
	padding:8px;
	
	font-size:18px;
	font-weight:medium;
	text-align: center;
}

/*Short text should be handled here.*/
h6{
	font-size:18px;
	font-weight:normal;
	text-align: left;
}
